html, body {
    height:100%;
    font-size: 25px;
}
   
    .e2_2 { 
        background-color:rgba(255, 255, 255, 1);
        width:1152px;
        height:1036px;
        position:absolute;
        overflow:hidden;
    }
    .e2_5 { 
        width:1152px;
        height:415px;
        position:absolute;
        left:0px;
        top:60px;
        background: url("recycle.png");
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e2_6 { 
        background-color:rgba(11.68750025331974, 11.103124860674143, 11.103124860674143, 0.6000000238418579);
        width:1152px;
        height:415px;
        position:absolute;
        left:0px;
        top:60px;
    }
    .e2_7 { 
        color:rgba(255, 255, 255, 1);
        width:889px;
        height:148px;
        position:absolute;
        left:137px;
        top:143px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:100px;
        letter-spacing:0;
    }
    .e2_10 { 
        color:rgba(255, 255, 255, 1);
        width:752px;
        height:90px;
        position:absolute;
        left:206px;
        top:321px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:50px;
        letter-spacing:0;
    }
    .e11_31 { 
        width:74px;
        height:60px;
        position:absolute;
        left:508px;
        top:0px;
    }
    .e11_32 { 
        background-color:rgba(251.81250303983688, 253.85250717401505, 255, 1);
        width:68px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e11_33 { 
        color:rgba(9.56250037997961, 9.442969243973494, 9.442969243973494, 1);
        width:74px;
        height:26px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e11_36 { 
        width:74px;
        height:60px;
        position:absolute;
        left:600px;
        top:0px;
    }
    .e11_37 { 
        background-color:rgba(255, 255, 255, 1);
        opacity:0.800000011920929;
        width:68px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e11_38 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:74px;
        height:26px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e11_46 { 
        width:108px;
        height:60px;
        position:absolute;
        left:692px;
        top:0px;
    }
    .e11_47 { 
        background-color:rgba(253.93750101327896, 254.67025369405746, 255, 1);
        opacity:0.800000011920929;
        width:105px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e11_48 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:108px;
        height:23px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e11_53 { 
        width:140px;
        height:60px;
        position:absolute;
        left:818px;
        top:0px;
    }
    .e11_54 { 
        background-color:rgba(248.64713609218597, 252.29566991329193, 253.93750101327896, 1);
        opacity:0.800000011920929;
        width:140px;
        height:60px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .e11_55 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:134px;
        height:23px;
        position:absolute;
        left:2px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e11_60 { 
        width:176px;
        height:60px;
        position:absolute;
        left:976px;
        top:0px;
    }
    .e11_61 { 
        background-color:rgba(253.93750101327896, 254.67025369405746, 255, 1);
        opacity:0.800000011920929;
        width:176px;
        height:60px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .e11_62 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:174px;
        height:23px;
        position:absolute;
        left:2px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e27_112 { 
        width:70px;
        height:60px;
        position:absolute;
        left:0px;
        top:0px;
        background: url("logo.png");
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e27_113 { 
        width:74px;
        height:60px;
        position:absolute;
        left:508px;
        top:0px;
    }
    .e27_114 { 
        background-color:rgba(251.81250303983688, 253.85250717401505, 255, 1);
        width:68px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e27_115 { 
        color:rgba(9.56250037997961, 9.442969243973494, 9.442969243973494, 1);
        width:74px;
        height:26px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e27_116 { 
        width:74px;
        height:60px;
        position:absolute;
        left:600px;
        top:0px;
    }
    .e27_117 { 
        background-color:rgba(255, 255, 255, 1);
        opacity:0.800000011920929;
        width:68px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e27_118 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:74px;
        height:26px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e27_119 { 
        width:108px;
        height:60px;
        position:absolute;
        left:692px;
        top:0px;
    }
    .e27_120 { 
        background-color:rgba(253.93750101327896, 254.67025369405746, 255, 1);
        opacity:0.800000011920929;
        width:105px;
        height:60px;
        position:absolute;
        left:3px;
        top:0px;
    }
    .e27_121 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:108px;
        height:23px;
        position:absolute;
        left:0px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e27_122 { 
        width:140px;
        height:60px;
        position:absolute;
        left:818px;
        top:0px;
    }
    .e27_123 { 
        background-color:rgba(248.64713609218597, 252.29566991329193, 253.93750101327896, 1);
        opacity:0.800000011920929;
        width:140px;
        height:60px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .e27_124 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:134px;
        height:23px;
        position:absolute;
        left:2px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .e27_125 { 
        width:176px;
        height:60px;
        position:absolute;
        left:976px;
        top:0px;
    }
    .e27_126 { 
        background-color:rgba(253.93750101327896, 254.67025369405746, 255, 1);
        opacity:0.800000011920929;
        width:176px;
        height:60px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .e27_127 { 
        color:rgba(17.00000088661909, 16.575001291930676, 16.575001291930676, 1);
        width:174px;
        height:23px;
        position:absolute;
        left:2px;
        top:17px;
        font-family:Roboto Mono;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    


