html, body {
    height:100%;
    font-size: 25px;
}
   

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }

  .v2_2 {
    width: 100%;
    height: 3128px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v63_100 {
    width: 100%;
    height: 100%;
    background: rgba(232,223,224,1);
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 0px;
    overflow: hidden;
  }
  .v87_72 {
    width: 327px;
    height: 252px;
    background: url("6.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2326px;
    left: 30px;
    overflow: hidden;
  }
  .v87_71 {
    width: 269px;
    height: 273px;
    background: url("5.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1937px;
    left: 17px;
    overflow: hidden;
  }
  .v75_114 {
    width: 254px;
    height: 232px;
    background: url("3.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1284px;
    left: 5px;
    overflow: hidden;
  }
  .v73_113 {
    width: 233px;
    height: 232px;
    background: url("2.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 982px;
    left: 2px;
    overflow: hidden;
  }
  .v67_109 {
    width: 271px;
    color: rgba(147,73,73,1);
    position: absolute;
    top: 779px;
    left: 235px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_12 {
    width: 271px;
    color: rgba(183,171,63,1);
    position: absolute;
    top: 1425px;
    left: 235px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_13 {
    width: 271px;
    color: rgba(87,141,61,1);
    position: absolute;
    top: 1692px;
    left: 236px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_14 {
    width: 271px;
    color: rgba(26,76,122,1);
    position: absolute;
    top: 2067px;
    left: 246px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_25 {
    width: 271px;
    color: rgba(77,134,117,1);
    position: absolute;
    top: 2432px;
    left: 249px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_28 {
    width: 271px;
    color: rgba(113,76,160,1);
    position: absolute;
    top: 2830px;
    left: 239px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_9 {
    width: 271px;
    color: rgba(231,142,61,1);
    position: absolute;
    top: 1078px;
    left: 231px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_4 {
    width: 279px;
    color: rgba(26,76,122,1);
    position: absolute;
    top: 1986px;
    left: 249px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_7 {
    width: 279px;
    color: rgba(77,134,117,1);
    position: absolute;
    top: 2347px;
    left: 252px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_19 {
    width: 279px;
    color: rgba(113,76,160,1);
    position: absolute;
    top: 2748px;
    left: 232px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_5 {
    width: 279px;
    color: rgba(87,141,61,1);
    position: absolute;
    top: 1641px;
    left: 235px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_6 {
    width: 279px;
    color: rgba(231,142,61,1);
    position: absolute;
    top: 1028px;
    left: 231px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v66_108 {
    width: 636px;
    color: rgba(147,73,73,1);
    position: absolute;
    top: 781px;
    left: 514px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_23 {
    width: 636px;
    color: rgba(26,76,122,1);
    position: absolute;
    top: 2067px;
    left: 519px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_10 {
    width: 636px;
    color: rgba(231,142,61,1);
    position: absolute;
    top: 1078px;
    left: 506px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_26 {
    width: 631px;
    color: rgba(77,134,117,1);
    position: absolute;
    top: 2432px;
    left: 531px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_29 {
    width: 636px;
    color: rgba(113,76,160,1);
    position: absolute;
    top: 2830px;
    left: 517px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_15 {
    width: 636px;
    color: rgba(183,171,63,1);
    position: absolute;
    top: 1425px;
    left: 506px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_18 {
    width: 636px;
    color: rgba(87,141,61,1);
    position: absolute;
    top: 1692px;
    left: 517px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v66_107 {
    width: 505px;
    color: rgba(147,73,73,1);
    position: absolute;
    top: 739px;
    left: 404px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_16 {
    width: 755px;
    color: rgba(183,171,63,1);
    position: absolute;
    top: 1345px;
    left: 404px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_17 {
    width: 667px;
    color: rgba(87,141,61,1);
    position: absolute;
    top: 1642px;
    left: 402px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_27 {
    width: 730px;
    color: rgba(113,76,160,1);
    position: absolute;
    top: 2750px;
    left: 404px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_8 {
    width: 755px;
    color: rgba(231,142,61,1);
    position: absolute;
    top: 1028px;
    left: 398px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_24 {
    width: 730px;
    color: rgba(77,134,117,1);
    position: absolute;
    top: 2346px;
    left: 417px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_20 {
    width: 755px;
    color: rgba(26,76,122,1);
    position: absolute;
    top: 1986px;
    left: 415px;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v66_103 {
    width: 100%;
    height: 233px;
    background: url("boarder.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 476px;
    left: 0px;
    overflow: hidden;
  }
  .v66_105 {
    width: 279px;
    color: rgba(146,73,73,1);
    position: absolute;
    top: 739px;
    left: 235px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v70_3 {
    width: 279px;
    color: rgba(182,170,63,1);
    position: absolute;
    top: 1345px;
    left: 236px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v71_111 {
    width: 233px;
    height: 232px;
    background: url("1.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 683px;
    left: 2px;
    overflow: hidden;
  }
  .v87_70 {
    width: 267px;
    height: 280px;
    background: url("4.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1614px;
    left: 15px;
    overflow: hidden;
  }
  .v87_73 {
    width: 272px;
    height: 252px;
    background: url("7.PNG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2713px;
    left: 2px;
    overflow: hidden;
  }
  

.e34_147 { 
  background: url('recycle.png');
  background-color:rgba(11.68750025331974, 11.103124860674143, 11.103124860674143, 0.6000000238418579);
	width:1152px;
	height:416px;
	position:absolute;
	left:0px;
	top:60px;
}
.e58_2 { 
	color:rgba(255, 255, 255, 1);
	width:752px;
	height:90px;
	position:absolute;
	left:200px;
	top:298px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e34_148 { 
	color: rgba(255, 255, 255, 1);
  width: 484px;
  height: 136px;
  position: absolute;
  left: 337px;
  top: 162px;
  font-family: Roboto Mono;
  text-align: center;
  font-size: 100px;
  letter-spacing: 0;
}